{% load static %}
<!-- about  -->
<div id="about">
  <h1 class="cap">about us</h1>
  <div class="container">
    <div class="row justify-content-around gy-0 gy-sm-2">
      <div class="col-10 col-sm-5 order-1 order-md-0" data-aos="fade-up-right" data-aos-duration="3000">
        <div class="image d-flex justify-content-center px-auto">
          <img src="{% static '' %}img/about.jpg" class="w-100 w-sm-75">
        </div>
      </div>  
      <div class="col-10 col-sm-5 order-0 order-md-1 about" data-aos="fade-up-left" data-aos-duration="3000">
        <div class="pt-2 pt-sm-2 pt-lg-4">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Iste consectetur dolorum accusamus iusto, vitae amet sint 
            aut ex dolorem? 
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Iste consectetur dolorum accusamus iusto, vitae amet sint 
            aut ex dolorem? 
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Iste consectetur dolorum accusamus iusto, vitae amet sint 
            aut ex dolorem?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>