      <!-- about  -->
      <div id="about">
        <h1 class="cap">about us</h1>
        <div class="container">
          <div class="row justify-content-around gy-5">
            <div class="col-10 col-sm-6 order-1 order-md-0">
              <div class="text-warning">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Iste consectetur dolorum accusamus iusto, vitae amet sint 
                  aut ex dolorem? 
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Iste consectetur dolorum accusamus iusto, vitae amet sint 
                  aut ex dolorem? 
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Iste consectetur dolorum accusamus iusto, vitae amet sint 
                  aut ex dolorem?
                </p>
              </div>
            </div>
            <div class="col-10 col-sm-6 order-0 order-md-1">
              <div class="image d-flex justify-content-center px-auto">
                <img src="/img/aboutt.jpg" class="w-100 w-sm-75">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- about done -->
