        <!-- carousel  -->
       
        <div class="container">
            <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner text-warning" style="height: 60vh;">
                <div class="carousel-item h-100 active" data-bs-interval="10000">
                  <img src="../static/img/Boss.png" class="d-block w-100 h-100" >
                  <div class="carousel-caption text-warning d-md-block">
                    <h5>Lady's Office shoe</h5>
                    <p>Buy two get 50% discount on any other two.</p>
                  </div>
                </div>
                <div class="carousel-item h-100" data-bs-interval="2000">
                  <img src="../static/img/Tommy.png" class="d-block w-100 h-100" alt="...">
                  <div class="carousel-caption text-warning d-md-block">
                    <h5>Male footwear</h5>
                    <p>Akube leather water resist.</p>
                  </div>
                </div>
                <div class="carousel-item h-100">
                  <img src="../static/img/Boss.png" class="d-block w-100 h-100" alt="...">
                  <div class="carousel-caption text-warning d-md-block">
                    <h5>Collections</h5>
                    <p>All weather footwear.</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                <span class="visually-hidden">Previous</span>
                <i class="fas fa-chevron-left"></i>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                <span class="visually-hidden">Next</span>
                <i class="fas fa-chevron-right"></i>
              </button>
            </div>
          </div>
        <!-- carousel done -->
