{% extends 'base.html' %}

{% load static %}

{% block title %}| User SignIn{% endblock title %}

{% block carousel %}{% include 'banner.html' %} {% endblock carousel %} 


{% block content %}
     <!-- main content  -->
     <div class="container mb-5">
      <h1 class="cap">user signin</h1>
      <div class="row justify-content-center justify-content-md-around justify-content-lg-center text-center gy-5 text-warning pt-5 pb-5">
        <div class="col-8 col-sm-10 col-md-2 col-lg-3 col-xl-3 d-none d-lg-block">
          <div class="card border-0">
            <img src="{% static '' %}img/carousel3.jpg" class="card-img-top rounded-circle mx-auto w-75 imge">
          </div>
        </div>
        <div class="col-8 col-sm-10 col-md-8 col-lg-5 col-xl-5">
          <div class="profile-form px-lg-3 text-start">
            <form class="px-5 py-3" action="{% url 'signin' %}" method="POST">
            {% csrf_token %}
              <div class="mb-2">  
                <div id="textHelp" class="form-text text-capitalize mb-3 form-text">
                  to fast track your transaction, kindly signin or signup.</div>
                <label for="exampleInputText1" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="exampleInputText1">
              </div>
              <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <div class="hide-password">
                  <input type="password" name="password" class="form-control boxin" id="exampleInputPassword1">
                  <div class="s-hide">
                    <!-- <i class='bx bx-show'></i>
                    <i class='bx bx-hide'></i>  -->
                  </div>
                </div>
                <button type="submit" class="btn w-50 w-md-25 mt-4 probtn">SignIn</button>
              </form>
              <div id="textHelp" class="form-text  mt-3 form-text">
                signin to your account or <span><a href="{% url 'signup' %}" class="text-secondary w-50 w-md-25">SignUp</a></span> to create one.
              </div>
            </div>
          </div>
        </div>
        <div class="col-8 col-sm-10 col-md-2 col-lg-3 col-xl-3 d-none d-lg-block">
          <div class="card border-0">
            <img src="{% static '' %}img/carousel2.jpg" class="card-img-top rounded-circle mx-auto w-75 imge">
          </div>
        </div>  
      </div>
    </div>
    <!-- main content done -->
{% endblock content %}


<!-- footer  -->
{% block footer %} {% include "footer.html" %} {% endblock footer %}
<!-- footer done -->
